<html>

<head>
<style>

</style>
    <title>Refactor</title>
    <link rel='stylesheet' href='/static/css/main.css' />
</head>
<body>
<div id='app'></div>

<!--<h1>People</h1>-->
<!--<a href="/everyone">Everyone</a> <a href="/male">Male</a> <a href="/female">Female</a> <a href="/over30">Over 30</a> <a href="/under30">Under 30</a>-->
<!--<ul>-->
<!--{{#each people}}-->
    <!--<li>{{name}} {{age}} {{/each}}-->
<!--</ul>-->

<script type='text/javascript' src='/static/js/bundle.js'></script>
</body>

</html>